.guessHistory {
	color: #730C02;
	width: 90%;
	display: flex;
	flex-direction: column;
	border: 2px solid #D90416;
	background-color: #CCD6D9;
	margin-right: auto;
	margin-left: auto;
}

.guessHistory h2 {
	color: #730C02;
	margin-top: 5px;
	margin-bottom: 2px;
	display: block;
	text-align: center;
}

.guessHistory ul {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	list-style: none;
	flex-flow: wrap;
	margin: 3px auto;
	padding: 0;
}

.guessHistory ul li {
	display: inline-block;
	margin: 3px;
	padding: 2px;
	border: 1px solid black;
	background-color: #A67968;
	border-radius: 15%;
}

